<div class="container footer-head">

    <div class="row head">

        <!-- <div class="logo"><img src="assets\images\Big Logo.svg"></div> -->

        <div class="footer-logo">

            <div class="logo"><img src="assets\images\Big Logo.svg"></div>

            <div class="store">
                <div class="logo"><img src="assets\images\App Store.svg" class="store-1"></div>
                <div class="logo"><img src="assets\images\Google Play.svg" class="store-2"></div>
            </div>
        </div>

            <div class="copy-right">&copy; 2023 GlowingBud LLC</div> 

    </div>

     <div class="row">
        <div class="col-lg-12 d-flex">

            <div class="main-content-1">
                <div class="content-heading"><span>Useful Links</span></div>
                <div class="content"> <span>Blog</span> </div>
                <div class="content"> <span>Privacy Policy</span> </div>
            </div>

            <div class="main-content">
                <div class="content-heading"><span>Useful Links</span></div>
                <div class="content"> <span>hello&copy;glowingbud.com</span> </div>
                <div class="content"> <span>+16466008066</span> </div>
            </div>

            <div class="main-content">
                <div class="content-heading"><span>Useful Links</span></div>
                <div class="content"> <span>447 Broadway, 2nd Floor Suite </span> </div>
                <div class="content"> <span>447 Broadway, 2nd Floor Suite </span> </div>
            </div>

            <div class="main-content">
                <div class="content-heading"><span>Follow Us</span></div>
                <div class=" icon d-flex">
                <div class="content"> <img src="assets\images\Vector (1).svg"> </div>
                <div class="content"> <img src="assets\images\Vector (2).svg"> </div>
                <div class="content"> <img src="assets\images\Vector (3).svg"> </div>
            </div>
            </div>

        </div>
    </div> 

</div>