 <div class="active-plan">

    <div class="container">

        <div class="bg-ripple-img-container">
            <img src="assets/images/BG RIPPLE THROUGHOUT (1).svg" class="bg-ripple-img">
            <h1 class="heading">My Plans</h1>
            <p class="text">Check the status of your active, upcoming and expired plans</p>
        </div>

        <div class="card">
            <ul class="list-group">
                <li class="list-group-item bg-primary text-white">Active plan (1)</li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item disabled">Upcoming plan (2)</li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item disabled">Expired plan (3)</li>
            </ul>

        </div>


        <div class="card plan-detailed-card">

            <div class="main-details">

                <div class="card-body">

                    <h3 class="card-title"><span>Plan Details :</span> <span class="word-spacining">United Kingdom</span> <img src="assets/images/Rounded.svg" class="main-detailed-img">
                    </h3>

                    <div class="detailes">

                        <div class="data-balance">

                            <div class="data-balance-heading">
                                <h5>Data Balance</h5>
                                <img src="assets/images/Ellipse 1271.png" class="data-balance-left-img">
                                <img src="assets/images/Ellipse 1270.svg" class="data-balance-right-img">
                                <h5 class="ellips-text">30%</h5>
                                <h4 class="gb">11.3 GB / 20GB</h4>
                            </div>

                        </div> 

                        <div class="horizontal-line"></div>

                        <div class="start-plan">

                                <div class="start-plan-heading">

                                    <h5>Start Plan : <span><img src="assets/images/Vector.svg" class="start-plan-img"></span></h5>
                                    <h4 class="gb">20 GB for 20 Days</h4>
                                </div>

                        </div>

                        <div class="vertical-line"></div>

                        <div class="small-line"></div>

                        <div class="plan-status">

                            <div class="plan-status-heading">

                                <h5>Plan Status : <span><img src="/assets/images/Frame 427319740.svg" class="plan-status-img"> </span></h5>
                                <h5 ><span><img src="assets/images/Ellipse 980.svg" class="plan-ellips-img"></span><span class="active">Active</span></h5>

                            </div>

                        </div>

                        
                    </div>

                    <div class="validity">

                        <h5>Validity <span><img src="assets/images/Frame 427319787.svg" class="validity-img"> </span></h5> 
                        <h5> <span class="validity-text">21 Feb, 2023 
                            <img src="assets/images/Vector 2548.svg" class="line"> </span> 
                            <span class="bold">12 days </span> 
                            <span>remaining</span>
                        </h5>

                    </div>
                   

                </div>

               <div class="showing-page">
                <p>Showing 1-1 active plans</p>
               </div>

            </div>
            
        </div>



    </div>

</div> 