

.upcoming-plans{
    background: linear-gradient(188deg, rgba(61, 56, 208, 0.00) -2.37%, rgba(61, 56, 208, 0.10) 70.66%);
    height: 60rem;
}
.bg-ripple-img-container{
    position: relative;
    padding-top: 3rem;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
.bg-ripple-img{
    width: 100%;
    height: 100%; 

}
.heading{
    position: absolute;
    color: var(--Text-Main, #303030);
    font-family: MyFont-Bold;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem; 
    letter-spacing: -0.0625rem;
    top: 6rem;
    left: 30rem;
}
.text{
    position: absolute;
    color: var(--Text-Main, #303030);
    font-family: MyFont-regular;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; 
    letter-spacing: -0.025rem;
    top: 10rem;
    left: 24.3rem;
}
.card{
    position: absolute;
    width: 20.2rem;
    height: 11..5rem;
    border-radius: 1rem; 
    backdrop-filter: blur(19px);
    top: 20.5rem;
    left: 10rem;
}
.card ul li{
    text-align: center;
    border: 1px;
}
.card ul{
    border-radius: 0.8rem;
    width: 18rem;
    margin: 0.5rem 1rem;
}
.card-title{
    font-size: 1.3rem !important;
}
.list-group-item:hover{
    background-color: #6365EF !important;
    
}
.list-group li a:hover{
    background-color: #6365EF !important;
    color: #fff !important;
    cursor: pointer;
}
.list-group li a {
    color: #747373;
    text-decoration: none !important;
}

.plan-detailed-card{
    position: relative;
    width: 42rem;
    height: 37rem;
    top: -8rem;
    left: 25rem;
}
.main-details{
    width: 40rem;
    height: 15rem;
    border-radius: 1.25rem;
    background: var(--BG-Light, #F5F6FD);
    backdrop-filter: blur(19px);
    margin: 1rem;
}
.second-details{
    margin-top: 0.2rem;
}
h3{
    color: var(--Text-Main, #303030);
    font-family: MyFont-Bold;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.375rem; 
    letter-spacing: -0.035rem;
}
.word-spacining{
    padding-left: 1rem;
}
.main-detailed-img{
    padding-left: 1rem;
    height: 1.5rem;
}
.data-balance-heading{
    color: var(--Text-Main, #303030);
    font-family: MyFont-medium;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: -0.03rem;
}
.data-balance-left-img{
    padding-top: 1rem;
    height: 7rem;
}
.data-balance-right-img{
    position: absolute;
    height: 6rem;
    top: 7.9rem;
    left: 3.2rem;
    z-index: -1;
}
.ellips-text{
    position: absolute;
    color: #6365EF;
    top: 10.3rem;
    left: 3rem;
    font-size: 1rem;
}
.gb{
    color: #6365EF;
    padding-top: 0.5rem;
    font-size: 1.1rem;
    font-family: 'MyFont-medium';
}
.detailes{
    padding-top: 1rem;
    display: flex;
}
.horizontal-line{
    position: absolute;
    width: 0.0625rem;
    height: 6.0625rem;
    top: 4rem;
    left: 13rem;
    background: rgba(0, 0, 0, 0.06);
}

.start-plan-img{
    padding-left: 1rem;
    height: 1.5rem;
}
.start-plan-headin h5{
    font-size: 1.2rem;
}
.vertical-line{
    position: absolute;
    width: 38rem;
    height: 0.0625rem;
    background: #E6E6E6;
    top: 10rem;
    
}
.card-body h3{
    font-size: 1.5rem;
}
.small-line{
    position: absolute;
    width: 0.0625rem;
    height: 7rem;
    background: rgba(0, 0, 0, 0.06);
    left: 27rem;
    top: 4rem;
}
.plan-status{
    padding-left: 4rem;
}
.plan-status-img{
    padding-left: 1rem;
    height: 1.5rem;
}
.plan-ellips-img{
    width: 1rem;
    height: 1rem;
   
}

.active {
    background-color: #6365EF !important;
    color: #fff !important;
    cursor: pointer;
}
.validity{
    
    padding-left: 4rem;
}
.validity-img{
    padding-left: 1rem;
    height: 1.5rem;
}
.line{
    width: 1rem;
    height: 1.5rem;
    stroke-width: 2px;
    stroke: #6365EF;
}
.validity-text{
    color: var(--Primary-Main, #6365EF);
    font-family: MyFont-medium;
    
    font-style: normal;
    font-weight: 300;
    line-height: 2.125rem; 
    letter-spacing: -0.03rem;
}
.bold{
    font-weight: 700;
}
.showing-page{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 2.5rem;
    padding-left: 1rem;
    font-size: 0.9rem;
    font-family: 'MyFont-medium';
} 
.view-more{
    width: 8.5625rem;
    color: #6365EF;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;   
    border-radius: 6.25rem;
    border: 1px solid #6365EF;
    background: #fff;
    margin-left: 1rem;
}
/* .showing-page p{
    padding-top: 1rem;
} */

.button{
    width: 12.5625rem;
    color: #fff;
    padding: 0.5rem 0.25rem 0.5rem 1.25rem;   
    border-radius: 6.25rem;
    border: 1px;
    background: #6365EF;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.call-made-icon{
    height: 1.2rem;
    margin-left: 1rem;
}
.expired{
    padding-left: 1rem;
    color: #747373;
    font-family: MyFont-regular;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.125rem; 
    letter-spacing: -0.025rem;
}
.installations{
    border-radius: 6.25rem;
    border: 1px solid var(--Stroke-Primary, #6365EF);
    background: var(--White, #FFF);
    /* padding: 0.8125rem 1.25rem 0.8125rem 2.625rem; */
   
}
.activate-now{
    border-radius: 6.25rem;
    border: 1px solid var(--Stroke-Primary, #6365EF);
    background: var(--White, #FFF);
    /* padding: 0.8125rem 1.25rem 0.8125rem 2.625rem; */
   
}